<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Go Connect</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Go Connect</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>

	<!-- permission Start -->
	<key>NSBonjourServices</key>
	<array>
		<string>_dartobservatory._tcp</string>
	</array>
	<key>NSCameraUsageDescription</key>
	<string>We need camera access to take profile pictures and upload documents.</string>
	<key>NSLocalNetworkUsageDescription</key>
	<string>This app needs access to network service discovery to debug the app</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>We use background location access to help artists and users track service routes and ensure accurate arrival updates, even when the app is closed.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>We require continuous location access for real-time order tracking.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Your Location is used to match you with nearby clients and providers</string>
	<key>NSMediaLibraryUsageDescription</key>
	<string>We need access to your media library to upload profile pictures and manage service-related media files.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>We need microphone access for voice input field.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>We need permission to save images to your gallery.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>We need access to your photo library to select images for your profile.</string>
	<key>NSUserNotificationUsageDescription</key>
	<string>We need your permission to send you notifications about important updates.</string>
	<!-- permission end -->
</dict>
</plist>
